h1 {
  font-family: $heading;

  @extend .is-size-1;

  font-weight: 400;
}

h2,
h3,
h4,
h5 {
  font-family: $subheading;
}

p,
a {
  font-family: $body;
}

.custom-logo-link {
  z-index: 10;
  position: relative;
  left: 2%;

  @extend .is-right;

  img {
    height: 150px;
    width: 150px;
    padding: 1rem;
  }
}
