/** Colors */
$fuschia: #4f235d;
// $pastel-pink: #dd9cce;
$dark-blue: #334364;
$orange: #f6bea7;
$green: #87c3c1;
$light-blue: #8aaecf;

$grey: #646d71;

$primary: $orange;
$accent: $green;
$overlay: $dark-blue;

/** Box Model  */
$spacer: 2rem;
$control-radius: 0;

/* Fonts */
$playfairDisplay: 'Playfair Display', serif;
$rokkitt: 'Rokkitt', serif;
$charter: 'Charter', serif;

$heading: $playfairDisplay;
$subheading: $rokkitt;
$body: $charter;

/* Sizes */
$size-1: 5rem;
$size-2: 3rem;
$size-3: 1.8rem;
