/* stylelint disable rule-empty-line-before=0 */

/* LANDING PAGE */

.page-landing-data {
  .page-container,
  .banner {
    background: rgba($overlay, 0.5);
  }

  &.custom-background {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-head {
  margin: 4rem 0 0 4rem;
}

.hero-body {
  h1,
  h4,
  p {
    color: white;
  }

  .content {
    @extend .column, .is-7, .is-6-widescreen, .is-offset-5;
  }

  h1 {
    @extend .title, .is-size-2-mobile;

    font-weight: normal;
  }

  h4 {
    @extend .is-size-3, .is-size-4-mobile;
  }

  padding: 1rem 1.5rem;
}

/* SERVICES PAGE */

// body.custom-background.page-services-data {
//   background-image: none !important;
// }
