/** Search form */
.search-form {
  @extend .field, .has-addons;
}

.search-form label {
  @extend .control;

  font-weight: normal;
}

.search-form .search-field {
  @extend .input;

  border-radius: 0 !important;
}

.search-form .search-submit {
  @extend .button, .is-info;
}

// .control {
//   margin-bottom: 1rem;
// }

.input,
.select select,
.button {
  font-family: $subheading;
  background: transparent;
  border: 2px solid white;
  color: white;

  &::placeholder {
    color: transparent;
  }

  &:hover {
    border-color: $primary;
  }
}

.control {
  position: relative;
  margin-top: 1.8rem;
}

.form-label {
  position: absolute;
  left: 9px;
  top: 7px;
  color: $white;
  font-family: $subheading;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-144%);
  font-size: 0.75em;
}

.form-input {
  position: relative;
  padding: 12px 0 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;

  &:focus {
    box-shadow: 0 2px 0 0 blue;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

.select:not(.is-multiple)::after {
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
}

@keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

option:not(:checked) {
  background-color: $grey;
  color: $white;
}
